h1,
h2 {
    text-align: center;
    background-color: black;
    color: white;
    
}



.centerImage {
    display: block;
    margin: auto;
}


ul {
    color: white;
    background-color: blue;
    padding: 20px;
}

li {
    margin: 10px;
}

.caption {
    display:block;
}

ol {
    background-color: red;
    padding: 20px;
}

h3 {
    background-color: green;
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: rgb(173, 173, 173);
}
